.team {
    /*background-color: #d0d0d0;*/
    /*background-color: rgb(245, 245, 247);*/
    background-color: white;
}

.team h2 {
    font-size: 2.5em;
    margin-bottom: 20px;
}

.team-members {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.team-member {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.team-member p {
    font-size: 1em;
    margin-top: 10px;
}